</div> <!-- container -->

<nav class="navbar navbar-default footer" role="navigation">
  <div class="container-fluid">
   Footer &copy; 2014

  </div><!-- /.container-fluid -->
</nav>

    <script src="/js/jquery-ui-1.8.17.custom.min.js"></script>